@{
    ViewBag.Title = "Home Page";
}

<div class="span12">
    <h2 class="test">@ViewBag.Message</h2>

    <a id="calltoaction" class="btn btn-success" href="@Url.Action("index", "congratulations")">Call to action</a>
</div>
